@use "./variables" as *;
@use "./mixins" as *;

.about {
  position: relative;
  padding: 1rem 0.5rem;

  @include media-tablet {
    padding: 2rem;
    width: $tablet-breakpoint;
    margin: 0 auto;
    @include flex(column, center);
  }

  @include media-desktop {
    width: $tablet-breakpoint;
    margin: 0 auto;
    padding: 1rem;
  }

  &__heading {
    @include flex();
    align-items: center;
  }

  &__title {
    text-decoration: underline;

    @include media-desktop {
      font-size: 3rem;
      width: $tablet-breakpoint;
      margin: 0 auto;
    }
  }

  &__img {
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
  }

  &__subtitle {
    margin: 1rem 0;
    font-size: 1.75rem;
    text-decoration: underline;
  }

  &__card {
    margin: 0;
    padding-right: 1rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 150%;
  }
}
