@use "./variables" as *;
@use "./mixins" as *;

.footer {
  position: relative;
  bottom: 0;
  background-color: $primary-color;
  width: 100%;
  padding: 1rem 0;

  @include media-tablet {
    padding-left: 0;
  }

  &__internal-container {
    color: $secondary-color;
    @include flex(column, none);

    font-size: 14px;
    line-height: 20px;
    font-weight: 100;
    padding: 1rem;

    @include media-tablet {
      width: $tablet-breakpoint;
      margin: 0 auto;
      padding-top: 2rem;

      @include flex(row, space-around);
    }

    @include media-desktop {
      width: $desktop-breakpoint;
    }
  }

  &__contact {
    @include flex(column, none);
  }

  &__heading {
    // padding-left: 1rem;
    margin: 0;
    text-decoration: underline;
    @include media-tablet {
      font-size: 3rem;
    }
  }

  &__media {
    @include flex(column);

    @include media-tablet {
      justify-content: space-between;
    }
  }

  &__media-item {
    list-style: none;
  }

  &__link {
    width: 100%;
    display: flex;
    text-decoration: none;
    color: $secondary-color;
    padding: 1rem 0;
  }

  &__icon {
    width: 3rem;
    height: 3rem;
    padding-right: 1rem;
  }

  &__img {
    width: 5rem;
    border-radius: 2.5rem;
  }

  &__card {
    @include flex(column);

    font-size: 1.5rem;
    font-style: normal;
    margin-bottom: 1rem;
  }

  &__card-header {
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 1.5rem;
  }

  &__card-details {
    font-size: 1.2rem;
    margin-top: 1.5rem;
  }

  &__card-contact {
    margin-top: 1.5rem;
    color: $secondary-color;
    text-decoration: none;
    font-size: 1.2rem;
  }

  &__rights {
    @include flex(row, center);
    margin-top: 1rem;
    align-items: center;
  }

  &__copyright {
    font-size: 1rem;
    margin-top: 1rem;
    padding: 1rem;

    @include media-tablet {
      font-size: 1.5rem;
    }
  }
}
