@use "./variables" as *;
@use "./mixins" as *;

.gallery {
  background-color: rgb(230, 253, 255);
  @include flex(column);

  @include media-tablet {
    padding: 1rem;
    width: $tablet-breakpoint;
    margin: 0 auto;
  }

  @include media-desktop {
    width: $tablet-breakpoint;
  }

  &__background {
    background-color: rgb(230, 253, 255);
    width: 100%;
  }

  &__title {
    text-decoration: underline;
    padding: 1rem;
    margin: 0;

    @include media-desktop {
      font-size: 3rem;
    }
  }

  &__list {
    @include flex(column);
    list-style: none;

    @include media-tablet {
      @include flex();
    }
  }

  &__list-item {
    display: flex;
    width: 100%;

    @include media-tablet {
      width: 30%;
      height: 30rem;
    }
  }

  &__img {
    width: 100%;
    padding: 0.5rem;
  }
}
