@use "./variables" as *;
@use "./mixins" as *;

.nav {
  background-color: $primary-color;
  @include flex();
  align-items: center;

  @include media-tablet {
    width: $tablet-breakpoint;
    margin: 0 auto;
    padding: 1rem;
  }

  @include media-desktop {
    width: $desktop-breakpoint;
    padding: 0;
  }

  &__background {
    z-index: 2;
    background-color: $primary-color;
    padding: 0;
    width: 100%;
  }

  &__list {
    @include flex(row, space-around);

    list-style: none;
    width: 100%;
    @include media-tablet {
      flex-wrap: nowrap;
    }
  }

  &__item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include media-tablet {
      font-size: 2.5rem;
    }

    &--search {
      height: 3rem;
      border-radius: 1rem;
      width: 6rem;
      @include media-tablet {
        width: auto;
        flex-grow: 2;
      }
    }
  }

  &__img {
    border-radius: 2rem;
    padding: 0.5rem;
    object-fit: cover;
    width: 5rem;

    @include media-tablet {
      width: 10rem;
      border-radius: 4rem;
    }
  }

  &__link {
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: $secondary-color;
    padding: 1rem 0;

    @include media-tablet {
      width: fit-content;
      padding: 2rem 0;
    }

    &--active {
      border-bottom: 4px solid $secondary-color;

      @include media-tablet {
        width: fit-content;
      }
    }
  }
}
